/* 
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/

$include-html-media-classes: false;

$row-width: rem-calc(1170px);
$column-gutter: rem-calc(20px);

// We use these to define default font stacks
$font-family-sans-serif: "Open Sans";
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: 600 !default;

$font-color-hover: #000;
$font-color-default: #777;

$paragraph-line-height: 1.7;

// Foundation color naming conventions
$white: #FFFFFF;
$ghost: #FAFAFA;
$snow: #F9F9F9;
$vapor: #F6F6F6;
$white-smoke: #F5F5F5;
$silver: #EFEFEF;
$smoke: #EEEEEE;
$gainsboro: #DDDDDD;
$iron: #CCCCCC;
$base: #AAAAAA;
$aluminum: #999999;
$jumbo: #888888;
$monsoon: #777777;
$steel: #666666;
$charcoal: #555555;
$tuatara: #444444;
$oil: #333333;
$jet: #222222;
$black: #000000;

// We use these as default colors throughout
$primary-color: $font-color-default;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$anchor-font-color: $font-color-default;
$anchor-font-color-hover: $font-color-hover;
$header-font-color: $font-color-hover;

// We use these to control various global styles
$body-bg: $white;
$body-font-color: $font-color-default;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$header-font-weight: 300;
$header-text-rendering: optimizeLegibility;
$topbar-link-weight: bold;

// Media query breakpoints
$small-breakpoint: em-calc(640);
$medium-breakpoint: em-calc(1024);
$topbar-breakpoint: em-calc(820);
$large-breakpoint: em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

// Zoom
$zoom-scale-hover: scale(1, 2);

$global-radius: 5px;

$block-grid-default-spacing: rem-calc(10);