/*
Theme Name:         Macheete
Theme URI:          http://foundationpress.olefredrik.com
Github Theme URI:   https://github.com/olefredrik/FoundationPress
Description:        Macheete Theme based on Foundation 5 by Zurb made by Erstellbar
Version:            5.5.2
Author:             Sven Friedemann, Norman Czerwinski
Author URI:         http://erstellbar.de/

License:            (C) Ersellbar
License URI:        http://erstellbar.de
*/

/* ---------------------------------------------------------------------------- 
  
  Unfortunately WordPress will require a style.css file
  located in the theme's root folder for stuff to work.

  However, we will not be using vanilla CSS. We're using Sass.

  Sass is a superset of CSS that adds in amazing features
  such as variables, nested selectors and loops. It's also
  the easiest way to customize Foundation.

  All Sass files are located in the /scss folder.

  Please read the README.md file before getting started. More info on how
  to use Sass with Foundation can be found here:
  http://foundation.zurb.com/docs/sass.html

  If you for some reason would like to write plain css instead of using Sass,
  you could just enqueue this file (style.css) to the header and add your styles in this file

---------------------------------------------------------------------------- */
