/*
  Sektion für Archiv
  Enthält alle Artikelanrisse.

*/
section.archive {
  margin: 4em 0;
}

/*
  Blog Artikel Anriss
*/

article.blog-preview {

  margin: 4em 0;

  h2 {
    font-size: 1.5em;
    //font-weight: 600;
    //text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5rem !important;

    a {color:$header-font-color}
  }

  img {
    border-radius: $global-radius;
  }

  .meta-information {
    margin-bottom: 0.5em;
    display: block;
    font-size: emCalc(12px);
    letter-spacing: emCalc(1px);
    text-transform: uppercase;
    color: #aaa;

    a {
      color: #aaa;

      &:hover {
        color: $font-color-hover;
      }
    }

    .seperator  {
      margin: 0 8px;
    }
  }

  /*
    Große Ansicht
    Stellt einen Head Artikel dar
  */
  &.big {

    margin-top: 0;

    h2 {
      margin-top: 1.5em !important;
    }

    .meta-information {
      margin-bottom: 1em;
    }

    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
    margin-bottom: 2.5em;
  }

}

/*
  Archiv Navigation
*/

ul.pagination {
  margin: 3em 0;
}


aside {
  .widget {

    .wrapper {
      margin-bottom: 3em;
      /*padding-bottom: ($column-gutter) !important;
      padding-top: ($column-gutter);
      border-bottom: 1px solid #ddd;*/
      //@include panel();

      h6 {
        margin-top: 0;
        border-bottom: 1px solid $panel-border-color;
        padding-bottom: .5em;
        margin-bottom: em-calc(24px);
        text-transform: uppercase;
        letter-spacing: .2em;
        color: #aaa;
      }
    }

//    &:first-child {
//      margin-top: -$column-gutter;
//    }

    ul {
      margin: 0;
      list-style: none;
    }
  }


  .sm-icons {
    text-align: center;

    >li {
      //width: (100%/5);
      display: inline-block;
      text-align: center;
      margin-left: 0;
      padding: .2em;
    }

    .sm-icon {
      opacity: 0.15;
      width: 2em;
      height: 2em;
      background-size: cover;
      display: inline-block;
      @include transition(.5s);
      $icons: ('facebook', 'instagram', 'pinterest', 'twitter', 'xing', 'linkedin');

      @each $icon in $icons {
        &.#{$icon} {
          background-image: url("../assets/img/icons/contact/icon_#{$icon}_b.svg");
        }
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

ul.instagram-pics {
  @include block-grid(3);

  img {
    border: 1px solid $panel-border-color;
  }
}

.Annual_Archive_Widget, .widget_categories {
  ul {
    list-style: none;

    li {
      display: inline-block;
      border: 1px solid $panel-border-color;
      padding: .2em .5em;
      margin-right: .2em;
      margin-bottom: .5em;
      @include transition(.5s);

      &:hover {
        border-color: $font-color-hover;
      }
    }
  }
}

