//Contact Footer
.contact-footer {
  background-image: url('../assets/img/contact_sub_bg.jpg');
  min-height: 247px;
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 4em;
  background-position: center center;

  h2 {
    color: #fff;
    margin-bottom: 1em;
    font-size: 1.5em;
  }
}

footer.page {
  background-color: #000;
  padding: 4em 0;
  text-align: center;

  * {
    font-size: 12px;
  }

  a {
    &:hover {
      color: #fff;
    }
  }

  .arr {
    margin-top: 1.5em;
  }
}


.footer-nav {
  margin: 0 auto;
  text-align: center;

  li {
    display: inline-block;
    margin: 0;

    &.menu-item {
      margin: 0 .2em;
    }
  }
}
