/*
 Global styles for FoundationPress
 Demo: http://foundationpress.olefredrik.com
*/

// Prettify type rendering
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  letter-spacing: 0.05em;

}

p {
  font-weight: 300;
  font-size: 0.875rem;
}
$small-container-padding: .85rem;

.container {
  background-color: #fff;
  padding: 0 $small-container-padding;

  @media #{$large-up} {
    padding: 0;
  }
}

@mixin full-row() {
  margin: 0 (-$small-container-padding) !important;

  @media #{$large-up} {
    margin: 0 !important;
  }
}

.title-right {
  h3 {
    text-align: right !important;
  }
}

.title-left {
  h3 {
    text-align: left !important;
  }
}


.panel-grid {
  margin: 0 !important;
}

// Slim Site
// same as .row .row
.row .panel-grid {
  margin: 0 (-($column-gutter/2)) !important;
  max-width: none;
  width: auto;

  // Column
  .panel-grid-cell {
    padding: {
      left: $column-gutter/2 !important;
      right: $column-gutter/2 !important;
    }
  }
}

// Full Width - small rows
.panel-grid>.row {
  // Column
  .panel-grid-cell {
    padding: {
      left: $column-gutter/2 !important;
      right: $column-gutter/2 !important;
    }
  }
}



@media #{$medium-up} {
  .counted {
    -webkit-column-count: 2;
    -webkit-column-gap: $column-gutter;
    -moz-column-count: 2;
    -moz-column-gap: $column-gutter;
    column-count: 2;
    column-gap: $column-gutter;
  }
}

// Reset margin and padding on figure element
figure {
  margin: 0;
  padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
  margin-bottom: rem-calc(20);
  margin-top: rem-calc(10);
  color: #6f6f6f;
}

// Add the alignment classes used by the WordPress media library

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
  margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
  margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
  margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

.gallery {
  margin: 0 (-($column-gutter/2)) !important;
}

.gallery-item {
  @include grid-column();
  margin-bottom: ($column-gutter / 2) !important;

  &:first-child {
    margin-left: 0;
  }

  img {
    border: 0 !important;
    width: 100%;
    height: 100%;
  }
}
