
div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {
  border: 0;
}

div.wpcf7-response-output {
  font-size: 1.5em;
  font-weight: 600;
  margin: 1em 0;
  padding: 0;
}

input[type="text"].wpcf7-not-valid {
  @include form-error-color();
  margin-bottom: 0;
}

.wpcf7-not-valid-tip {
  @include form-error-message() ;
  color: #fff !important;
  font-size: em-calc(14px) !important;
}



.ghost-button-wrapper {

  a {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: .3em 1em;
    font-size: 1.5rem;
    border-radius: 3px;
    @include transition(.5s);

    &:hover {
      border-color: scale_color(#fff, $lightness: -20%);
      color: scale_color(#fff, $lightness: -20%);
    }
  }
}

.error-bg {
  display: table-cell;
  height: 90vh;
  vertical-align: middle;
  background: #3C3C3B url("../assets/img/hg_404.jpg") no-repeat top center;
  background-size: cover;
  width: 100vw;
  text-align: center;

  a {
    color: #fff;
    text-decoration: underline;
  }

  .border {
    padding: em-calc(50px) em-calc(30px);
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    max-width: 40vw;

    .alt-font {
      font-family: Dosis, monospace;
      text-transform: uppercase;
    }

    .big {
      font-size: 6em;
    }

    .bottom {
      text-transform: uppercase;
    }
  }
}




.col-lg-12 {
  @include grid-column(12);
}

