
.case {
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  display: block;

  .zoom {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;
    @include transition(all .5s);
    @include transform(scale(1, 1));
  }

  &:hover .zoom { @include transform(scale(1.5, 1.5)); }

  .intro {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include transition(.3s);
    text-align: center;


    h1 {
      font-size: 1em;
      color: #fff;
    }

    span,h1 {
      position: absolute;
      bottom: -4em;
      @include transition(.2s);
      display: block;
      left: 0;
      right: 0;
      padding: 1em;
    }

    span.desc {
      color: $font-color-default;
    }

    &:hover {
      background-color: rgba(#000, 0.7);
      color: #fff;

      h1.title {
        bottom: 2.5em;
      }

      span.desc {
        bottom: 1em;
        @include transition-delay(.2s);
      }
    }

  }
}

.mixitup {
  margin: 10em 0;
}

#Container .mix {
  display: none;
}

#Container .medium-block-grid-4>li:nth-of-type(4n+1), #Container .medium-block-grid-4>li:nth-of-type(1n){
  clear:none !important;
}

#Container .medium-block-grid-3>li:nth-of-type(3n+1), #Container .medium-block-grid-3>li:nth-of-type(1n){
  clear:none !important;
}

@media #{$medium-up} {
  .inline-list {
    text-align: center;
    margin: 0 0 2em 0;

    li {
      display: inline-block;
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}