/*
  Static Page
  Gilt nur für das Normale Layout
*/
body.page-template-default article.page, body.page-template-banner article.page  {
  margin: 4em 0;


  @media #{$small-only} {
    img {
      margin: 0 auto;
    }

    h1,h2,h3,h4,h5 {
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }

  h1,h2,h3,h4 {
    letter-spacing: .1em;
    text-transform: uppercase;
  }


  h1,h2 {
    margin-bottom: 1em;
  }

  &#post-12, &#post-6810 {
    h3,h4 {
      margin-bottom: 1em;
    }

    h4 {
      font-size: 1em;
    }

    ul {
      margin-bottom: 2em;
      list-style: none;
      margin-left: 1em;
      list-style-position: outside;
      li {
        &:before {
          display: inline-block;
          content: '»';
          margin-left: -1em;
          margin-right: em-calc(9px);
        }
      }
    }
  }


  &#post-160, &#post-6809 {
    h4 {
      font-size: 14px;
      margin-bottom: 1em;
    }
  }

  a {
    font-weight: 600;
  }
}

body.page-template-contact article.page {
  margin-top: 0;
  margin-bottom: 4em;

  header>h1 {
    margin: 1em 0;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
}

#map {
  width: 100%;
  height: 500px;
  @include full-row();
}
