//// Statischer Artikel
//.page-template-default article {
//
//  margin: 4em 0;
//
//
//
//  a {
//    font-weight: 600;
//  }
//
//  &.no-margin {
//    margin: 0;
//  }
//
//  footer {
//    background: none;
//    margin: 0;
//    padding: 0;
//  }
//
//
//}

.entry-content.counted {
  margin-top: 2em;
  position: relative;

  > h2:first-child,h3:first-child {
    margin-top: 0;
    position: absolute;
    top: -1.5em;
  }
}

body.single article.single {
  margin-bottom: 4em;

  header>h1 {
    margin: 1em 0;
    text-transform: uppercase;
  }

  .entry-content a {
    text-decoration: underline;
  }

}


// Single Page
.single-bg {
  height: 500px;
  background-size: cover;
  background-position: center center;
  @include transition(.5s ease-in-out);
  @include transition-delay(.5s);
  @include prefixer(box-shadow, inset 0px -42px 20px -41px rgba(0,0,0,0.46), webkit moz spec);
  @include full-row();

  // Only works in Webkit and Firefox
  &:hover {
    @include filter(grayscale(70%));
  }

}

article.referenzen, article.presselounge {

  .meta-info {
    margin: .5em 0;
  }
  span.bold {
    font-weight: 600;
    color: $font-color-hover;
  }

  .media {
    margin-top: 4em;
  }

    h2,h3,h4,h5 {
      margin-top: 4em;
      font-size: 1em;
      font-weight: 600;
      text-transform: uppercase;
    }
}


