.home {

  h1, h2, h3, h4 {
    letter-spacing: .2em;
  }

  h3 {
    @media #{$medium-up} {
      font-size: 3em;
    }
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
    margin-bottom: 1em;
  }
}


// Agentur Block
.agentur-big {
  margin-top: 4em;
  text-align: center;

  @media #{$medium-up} {
    margin-top: 10em;

    p {
      font-size: 2em;
    }
  }

}

.sow-slider-image {
  background-color: transparent !important;
}


// Leistungen Block
.widget_macheete_leistungen {
  margin-top: 5em;
  margin-bottom: 10em !important;


  //  Trennlinie
  &::before {
    content: '';
    background-color: $header-font-color;
    width: 30px;
    height: 2px;
    display: block;
    margin: 0 auto 5em auto;
  }
}


// Titel Block - warum uns nehmen?
.we-title {
  margin-top: 4em;
  margin-bottom: 2em;

  @media #{$medium-up} {
    margin-top: 10em;
  }

}
// Block - Warum uns nehmen?
.we-block {
  h4 {
    font-size: rem-calc(16px);
    text-transform: uppercase;
    margin-top: 2em;
  }
  margin-bottom: 2em;

  &.last {
   margin-bottom: 6em;
  }
}

// Slider
.widget_sow-slider {
  @include full-row;

  > .panel-widget-style {
    background-size: cover;
  }
}

// Kontakt Block
.home .panel-grid:last-child {
  background-image: url("../assets/img/contact_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  color: #fff;
  @include full-row;

  padding: 5em $small-container-padding 7em $small-container-padding;

  @media #{$large-up} {
    padding: 5em 0 7em 0;
  }

  h3 {
    text-align: left;
  }
}


.wpcf7-form {
  input, textarea {
    height: auto;
    padding: 1em;

    @include placeholder {
      color: $body-font-color;
    }
  }
}
// Kontakt Formular
.contact-form {
  @media #{$medium-up} {
    padding-right: $column-gutter * 2;
  }

  h3 {
    text-align: left;
    color: #fff;
    margin-bottom: .5em;
  }

  .button {
    background-color: #fff;
    color: $font-color-hover;
    font-weight: 600;
    padding: {
      top: .5em;
      bottom: .5em;
    }

    &:hover {
      background-color: scale_color(#fff, $lightness: -10%);
    }
  }
}

// Kontakt Informationen
.widget_macheete_contact_info {

  .title {
    font-size: rem-calc(20px);
    font-weight: 600;
    text-transform: uppercase;
  }

  .desc {
    font-size: rem-calc(20px);
  }


  a {
    color: #fff;
  }

  //  Social media Icons im Kontakt Block
  .sm-icons {
    @include clearfix;

    .sm-icon {
      width: 30px;
      height: 30px;
      display: block;
      float: left;
      margin-right: 1em;
      margin-bottom: 3em;
      $icons: ('facebook', 'instagram', 'pinterest', 'twitter', 'xing', 'linkedin');

      @each $icon in $icons {
        &.#{$icon} {
          background-image: url("../assets/img/icons/contact/icon_#{$icon}.svg");
        }
      }
    }
  }


  // Adresse
  .contact {
    margin: 1em 0;

    > a {
      color: #fff;
    }

    &.icon {
      padding-left: 2em;
      background-repeat: no-repeat;
      background-position: left center;
    }

    $contact-fields: ("address", "phone", "email");

    @each $contact-field in $contact-fields
    {
      &.#{$contact-field} {
        background-image: url("../assets/img/icons/contact/icon_#{$contact-field}.png");
      }
    }
  }
}




// Referenzen Vorschau Block
.last-cases {
  @include full-row;

  .so-panel {
    margin-bottom: 0 !important;
  }

  .ghost-button-wrapper {
    padding: 4em;
    margin-bottom: 3px;

    p {
      margin-bottom: 0;
    }
  }
}