.tabs {
  margin-bottom: 0 !important;
  margin-left: 0;
  text-align: center;

  dd,
  .tab-title {

    $icons: ("public-relations", "blogger-relations", "content-marketing", "social-media-marketing", "workshops");

    list-style: none;
    margin-bottom: 0 !important;
    position: relative;
    width: (100%/3);
    display: inline-block;
    padding-top: 2rem;
    margin-left: -5px;

    @media #{$medium-up} {
      width: (100%/5);
    }
    text-align: center;

    @media #{$small-only} {
      &:nth-last-child(-n+2) {
        width: (100% /2);
      }
    }

    > a {
      display: block;
      padding-top: 100px;
      background-repeat: no-repeat;
      background-position: top center;
      @include transition(200ms);
      font-size: rem-calc(14px);

      &:focus {
        outline: 0px;
      }


      @each $icon in $icons {
        &.#{$icon} {
          background-image: url("../assets/img/leistungen/#{$icon}-icon.svg");

          &:hover {
            background-image: url("../assets/img/leistungen/#{$icon}-icon-hover.svg");
          }

          &::after {
            content: url("../assets/img/leistungen/#{$icon}-icon-hover.svg");
            display: none;
            width: 0;
            height: 0;
          }
        }
      }
    }

    &.active {
      @each $icon in $icons {
        a {
          color: $font-color-hover;
        }

        a.#{$icon} {
          background-image: url("../assets/img/leistungen/#{$icon}-icon-hover.svg");
        }
      }
    }
  }

  &.radius {
    dd:first-child,
    .tab:first-child {
      a {
        @include side-radius($default-float, $global-radius);
      }
    }

    dd:last-child,
    .tab:last-child {
      a {
        @include side-radius($opposite-direction, $global-radius);
      }
    }
  }
}

.tabs-content {
  @include clearfix;
  width: 100%;
  margin-top: 4em;

  > .content {
    display: none;
    float: $default-float;
    width: 100%;

    &.active {
      display: block;
      float: none;
    }
    &.contained {
      padding: 1em;
    }
  }
}

.quote {
  @media #{$medium-up} {
    font-size: 2em;
  }
  font-weight: 600;
  color: $font-color-hover;
}