$sticky-nav-top-padding: 0em;
$header-bg-height: em-calc(740px);
$sticky-nav-top: ($header-bg-height - 3.65em);
$full-nav-break-point: $large-up;



.head {

  height: 57px;
  background-color: #000;
  position: relative;

  @media #{$full-nav-break-point} {
    background-color: #fff;
  }

  .logo {
    height: 1.5em;
    width: auto;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @media #{$full-nav-break-point} {
      display: none;
    }
  }

  .language-switcher {
    left: auto;
    right: 1em;
  }
}




.sticky-nav {

  @media #{$full-nav-break-point} {
    display: block;
    position: fixed;
    top: 0;
    background-color: #000;
    width: 100%;
    text-align: center;
    z-index: 2000;

    img.logo {
      height: 1.5em;
      position: absolute;
      top: 1em;
      left: 1em;
    }

    ul:not(.language-switcher) {
      margin: 0;
      display: block;
      text-align: center;
      padding: 1em 0;

      li {

        display: inline-block;
        margin: 0 .7em;

        a {
          color: #fff;
        }
      }
    }
  }
  display: none;
}

/*
 * Big Navigation
 * Shows only on startpage
 *
 */
body.home {

  /*
   * Big Background image
   */
  .bg {
    background: #3C3C3B url("../assets/img/header_bg.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-bg-height;
    z-index: -1;
    -webkit-transform: translateZ(0);
    pointer-events: none;
  }

  .head {
    height: $header-bg-height;
    text-align: center;
    position: relative;
    background-color: transparent;

    @media #{$small-only} {
      height: $header-bg-height / 3;
    }

    img.logo {
      width: auto;
      height: auto;

      @media #{$small-only} {
        width: 80%;
      }

      @media #{$full-nav-break-point} {
        display: block;
      }
    }
  }

  .sticky-nav {
    position: absolute;
    top: $sticky-nav-top;
    background-color: transparent;
    @include transition(background-color .5s ease);

    img.logo {
      opacity: 0;
      top: 2em;
      @include transition(.4s);
    }

    &.sticky {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 2000;
      background-color: #000;

      img.logo {
        opacity: 1;
        top: 1em;
      }
    }
  }
}

.menu-item.active {
  font-weight: 600;
}



.menu-icon {

  @include hamburger($tabbar-hamburger-icon-width, $tabbar-hamburger-icon-left, $tabbar-hamburger-icon-top, $tabbar-hamburger-icon-thickness, $tabbar-hamburger-icon-gap, $tabbar-menu-icon-color, $tabbar-menu-icon-hover, true);
  color: #FFFFFF;
  display: block;
  height: 57px;
  padding: 0;
  position: relative;
  text-indent: 1.94444rem;
  transform: translate3d(0, 0, 0);
  width: 2.5rem;

  @media #{$full-nav-break-point} {
    display: none;
  }
}


// Wp Admin Bar Fix

body.admin-bar:not(.home) {
  .sticky-nav {
    top: 32px !important;

    @media screen and (max-width: 782px) {
      top: 46px !important;
    }
  }
}

body.admin-bar.home {
  .sticky,.bg {
    top: 32px !important;

    @media screen and (max-width: 782px) {
      top: 46px !important;
    }
  }
}


ul.language-switcher {


  list-style: none;
  position: absolute;
  display: inline-block;
  top: 1.1em;
  left: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid darken($white, 30%);


  li {
    display: inline-block;
    color: #fff;
    padding: 0.20rem 0.5rem;
    line-height: 1rem;
    font-size: .8em;
    text-transform: uppercase;

    &.active a {
      font-weight: 600;
    }

    a {
      color: #fff;
    }
  }

  @media #{$full-nav-break-point} {
    height: 1.5em;
    @include transition(.3s);


    &:hover, &:focus {
      height: 3em;
      top: .35em;
      //background: $black;
      border: 1px solid darken($white, 70%);
    }

    li {
      display: block;
    }
  }

}
